---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Aviso from "../components/Aviso.astro";
import Layout from "../layouts/Layout.astro"
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Pixeleado - Switch Magia</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
    <Header />
    <main>
      <Layout />
        <Aviso/>
    </main>
    <Footer/>
  </body>  
</html>
