---
import Hero from '../components/Herosection.astro';
import Header from "../components/Header.astro";
import TextCenter from "../components/Textcenter.astro"
import Descarga from "../components/Descarga.astro";
// import "../styles/global.css";
import Layout from "../layouts/Layout.astro"
import First from "../components/FirstPass.astro";
import Eshop from "../components/Eshop.astro";
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Pixeleado - Switch Magia</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body>
    <Header />
    <main>
      <Layout />
      <Hero />
      <TextCenter />
      <First />
      <Eshop />
      <Descarga />
    </main>
  </body>  
</html>
