---
// Componente .astro (por ejemplo Welcome.astro)
---

<section class="relative h-screen w-full overflow-hidden bg-gradient-to-br from-[#1e2b38] to-[#506274]">


  <div class="relative z-0 flex items-center justify-between h-full px-10 lg:px-32">
    <div class="max-w-xl">
      <h1 class="text-6xl lg:text-7xl font-extrabold leading-tight text-white uppercase">Explora el mundo Switch</h1>
      <p class="mt-6 text-white/80 text-xl">Todo lo que necesitas saber sobre Nintendo Switch en un solo lugar.</p>
      <a href="#videos" class="inline-flex items-center mt-10 px-6 py-3 bg-purple-500 text-white font-medium rounded-lg hover:bg-purple-600 transition">Ver videos</a>
    </div>

    <div class="relative hidden lg:block">
      <img src="/SwitchMagic/images/switch-magia.jpg" alt="Nintendo Switch" class="rounded-2xl shadow-2xl max-w-lg" />
      <!-- <div class="absolute top-10 right-0 w-[250px] h-[500px] rounded-[2rem] bg-white/10 backdrop-blur-2xl p-4 border border-white/20 shadow-2xl text-white">
        <div class="text-sm mb-2">Ubicación: <span class="text-xs text-white/70">Tokio, Japón</span></div>
        <div class="bg-white/10 p-4 rounded-xl">
          <p class="text-xs">Ventas</p>
          <h2 class="text-3xl font-bold">1.2M</h2>
        </div>
        <div class="flex justify-between text-xs mt-2 text-white/70">
          <span>Top juegos</span>
          <span>Mario, Zelda</span>
        </div>
      </div> -->
    </div>
  </div>
</section>
